{% extends 'shop_user/base_head_foot.html'%}
 {% block script %}
<script src="/static/js/Login.js" type="text/javascript"></script>
<script src="/static/js/addToCart.js" type="text/javascript"></script>
<script src="/static/js/addToCollect.js" type="text/javascript"></script>
<script>
    function change1() {
        $('#myFoot_1').css('display','block');
        $('#myFoot_2').css('display','none');
        $('#myFoot_3').css('display','none');
    }
    function change2() {
        $('#myFoot_1').css('display','none');
        $('#myFoot_2').css('display','block');
        $('#myFoot_3').css('display','none');
    }
    function change3() {
        $('#myFoot_1').css('display','none');
        $('#myFoot_2').css('display','none');
        $('#myFoot_3').css('display','block');
    }
    function updatenum(operate) {
        if (operate == '+') {
            if (parseInt($('.number_text').val()) < {{goods_valueNumber}})
                $('.number_text').val(parseInt($('.number_text').val())+1)
        }
        if (operate == '-') {
            if (parseInt($('.number_text').val())>1)
                $('.number_text').val(parseInt($('.number_text').val())-1)
        }

    }
</script>
{% endblock script %}
{%block title%}商品详细介绍{%endblock title%}

{% block body %}
<!---->
<div><a href="#"><img src="/static/images/AD_page_img_02.png" width="100%"/></a></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="left">当前位置：<a href="/index/">首页</a>&gt;<a href="/getGoodsType{{typeId}}">{{goods_type}}</a>&gt;<a href="#">{{goods_name}}</a></div>
   <div class="right Search">
   <form>
    <input name="" type="text"  class="Search_Box"/>
    <input name="" type="button"  name="" class="Search_btn"/>
    </form>
   </div>
 </div>
</div>
<!--商品详细介绍-->
<div class="Inside_pages clearfix">
 <div class="left_style">
    <div class="title_img_p"><img src="/static/images/p_vegetables_img.png" /></div>
   <div class="ranking">
    <div class="ranking_title"><span>销量</span>排行</div>
    <ul class="ranking_list">
        <li class="">
         <em class="ranking_label">1</em>
         <a href="#" class="img"> <img src="/static/media/{{tuijian.0.0}}" width="100px" height="100px" /></a>
         <p class="ranking_name">{{tuijian.0.1}}</p>
         <p class="price"><b>￥</b>{{tuijian.0.2}}</p>
         <p><a href="#">立即查看< </a></p>
         </li>
        <li class="">
         <em class="ranking_label">2</em>
         <a href="#" class="img"> <img src="/static/media/{{tuijian.1.0}}" width="100px" height="100px" /></a>
         <p class="ranking_name">{{tuijian.1.1}}</p>
         <p class="price"><b>￥</b>{{tuijian.1.2}}</p>
         <p><a href="#">立即查看< </a></p>
         </li>
        <li class="">
     <em class="ranking_label">3</em>
     <a href="#" class="img"> <img src="/static/media/{{tuijian.2.0}}" width="100px" height="100px" /></a>
     <p class="ranking_name">{{tuijian.2.1}}</p>
     <p class="price"><b>￥</b>{{tuijian.2.2}}</p>
     <p><a href="#">立即查看< </a></p>
     </li>
        <li class="">
     <em class="ranking_label">4</em>
     <a href="#" class="img"> <img src="/static/media/{{tuijian.3.0}}" width="100px" height="100px" /></a>
     <p class="ranking_name">{{tuijian.3.1}}</p>
     <p class="price"><b>￥</b>{{tuijian.3.2}}</p>
     <p><a href="#">立即查看< </a></p>
     </li>
        <li class="">
     <em class="ranking_label">5</em>
     <a href="#" class="img"> <img src="/static/media/{{tuijian.4.0}}" width="100px" height="100px" /></a>
     <p class="ranking_name">{{tuijian.4.1}}</p>
     <p class="price"><b>￥</b>{{tuijian.4.2}}</p>
     <p><a href="#">立即查看< </a></p>
     </li>
    </ul>
   </div>
 </div>
 <!--详细介绍样式-->
 <div class="right_style">
  <div class="pro_detailed">
   <div class="Details_style clearfix" id="goodsInfo">
     <div class="mod_picfold clearfix">
    <div class="clearfix" id="detail_main_img">
        <img width="400" height="400" src="/static/media/{{goods_image}}">
	 <div class="layout_wrap">
	  <!--相册样式-->
	 </div>
	</div>
    <div class="Sharing">
     <div class="bdsharebuttonbox right">
         <a href="#" class="bds_more" data-cmd="more"></a>
         <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
         <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
         <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
         <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
         <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
         </div>
<script>
window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "1",
        "bdSize": "16"
    },
    "share": {},
    "image": {
        "viewList": ["qzone", "weixin", "tsina", "tqq", "renren"],
        "viewText": "分享到：",
        "viewSize": "16"
    },
    "selectShare": {
        "bdContainerClass": null,
        "bdSelectMiniList": ["qzone", "weixin", "tsina", "tqq", "renren"]
    }
};
with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
  <!--收藏-->
	  <div class="coding">商品编码：{{goods_code}}</div>
	 </div>
   </div>
   <!--购买信息-->
    <div class="Buying_info">
      <div class="product_name"><h2>{{goods_name}}</h2><span>{{goods_introduction}}</span></div>
      <div class="product_price">
       <div class="price"><label>商城价：</label>￥{{goods_price}} <b>{{goods_unit}}</b></div>
       <div class="jyScore-fra"><span><em style="width:60px;"></em></span><b>4.5</b><a href="#">共有16条评论</a></div>
      </div>
      <div class="productDL">
        <dl><dt>品种：</dt><dd class="left"><div class="item  selected"><b></b><a href="#none" title="金晕">芹川</a></div> <div class="item"><b></b><a href="#none" title="芹川">芹川</a></div></dd></dl>
        <dl><dt>包装：</dt><dd class="left">
        <div class="item  selected"><b></b><a href="#none" title="小礼盒">小礼盒</a></div> 
        <div class="item"><b></b><a href="#none" title="普通包装">普通包装</a></div>
        <div class="item"><b></b><a href="#none" title="大礼盒">大礼盒</a></div></dd></dl>
        <dl><dt>数量：</dt><dd class="left">
        <div class="Numbers">
		  <a href="javascript:void(0);" onclick="updatenum('-');" class="jian  ">-</a>
		  <input id="number" name="number" type="text" value="1" class="number_text">
		  <a href="javascript:void(0);" onclick="updatenum('+');" class="jia  ">+</a>
		 </div>
        </dd><dd class="left Quantity">(库存：{{goods_valueNumber}})</dd></dl>
      </div>
      <div class="product_Quantity">销量：3440</div>
      <div class="operating">
       <a href="/shopping_cart/" class="buy_btn"></a>
       <a href="#" class="Join_btn"></a>
       <a href="#" class="Collect_btn"></a>
      </div>
    </div>
   </div>
   <!--信息展示-->
   <div class="mainListRight" id="status1">
   <ul class="fixed_bar" style="">
      <li class="status_on active"><a onclick="change1()" href="#status1">产品介绍</a></li>
      <li class="status_on"><a onclick="change2()" href="#status2">商品评价<span>(0)</span></a></li>
      <li class="status_on"><a onclick="change3()" href="#shbz">售后服务</a></li>
      <div class="statusBtn" style="display: none;"><a href="javascript:addToCart_bak(77)" class="statusBtn1" title="加入购物车"></a></div>
    </ul>
   </div>
    <div id="myFoot_1" style="display: block">
          <br>
          <p>商品参数:</p>
          <ul>
              <li>名称：{{goods_name}}</li>
              <li>价格：{{goods_price}}&nbsp;{{goods_unit}}</li>
              <br>
              <li>产地：{{goods_originPlace}}</li>
              <li>类型：{{goods_type}}</li>
          </ul>
    </div>
    <div id="myFoot_2" style="display: none">
        <br>
        <p>好好好</p>
        <br>
        <p>好好好</p>
        <br>
        <p>好好好</p>
        <br>
        <p>好好好</p>
    </div>
    <div id="myFoot_3" style="display: none">
        <br>
        <hr>
        <p>联系电话:</p>
        <hr>
        123456789
    </div>

  </div>
 </div>
</div>
{% endblock body %}
<!--底部样式-->
