{% extends 'shop_user/user.html'%}

    {% block user_script %}
    <script src="/static/js/updatePwd.js" type="text/javascript"></script>
    {% endblock user_script %}

    <!--右侧样式-->
      {% block right %}
    <div class="user_right">
      <div class="user_Borders">     
       <div class="title_name">
        <span class="name">修改密码</span>
       </div>
       <!--修改密码样式-->
       <div class="about_user_info">
        <form id="form1" name="form1" method="post" action="">   
       <div class="user_layout">
           {% csrf_token %}
         <ul >
          <li><label class="user_title_name">原密码：</label><input name="" id="prePwd" type="password"  class="add_text"/><em id="preTip">*</em></li>
          <li><label class="user_title_name">新密码：</label><input name="" id="newPwd" type="password"  class="add_text"/><em id="newTip">*</em></li>
          <li><label class="user_title_name">确认新密码：</label><input id="confirmPwd" name="" type="password"  class="add_text"/><em id="confirmTip">*</em></li>
         </ul>
         <div class="operating_btn"><input name="" id="updatePwdBtn" type="" value="确认"  class="submit—btn"/></div>
         </div>
          </form>
        
       </div>
      </div>
    </div>
      {% endblock right %}


